@page 
<div class="container-fluid">
    <div class="row p-1">
        <div class="col-1">My Id</div>
        <div class="col-5"><input type="text" id="myIdInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Reciever Id</div>
        <div class="col-5"><input type="text" id="recieverIdInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">P</div>
        <div class="col-5"><input type="text" id="pInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">G</div>
        <div class="col-5"><input type="text" id="gInput"  /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Encryption Method</div>
        <div class="col-5"><input type="text" id="encryptionMethodInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>