@page
@model ChatModel

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="myIdInput" class="form-label">My Id</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <input type="text" class="w-100" id="myIdInput" disabled />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="receiverIdInput" class="form-label">Receiver Id</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <input type="text" class="w-100" id="receiverIdInput" disabled />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="encryptionMethods" class="form-label">Encryption Method</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <select name="encryption" id="encryptionMethods" class="w-100">
                                <option value="none">None</option>
                                <option value="xorN">xorN</option>
                                <option value="cezar">Caesar cipher</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div>
                            <label for="messageInput" class="form-label">Message Input</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <input type="text" class="w-100" id="messageInput" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">
                        <div class="d-grid">
                            <input type="button" id="sendButton" value="Send Message" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <span>Chat history</span>
            <div class="vh-100" style="overflow-y: scroll;height: 75vh!important;">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
</div>

<script>
    const MY_ID = @Html.Raw(Json.Serialize(ViewData[ChatModel.VIEW_DATA_MY_ID_KEY]));
    const RECEIVER_ID = @Html.Raw(Json.Serialize(ViewData[ChatModel.VIEW_DATA_RECEIVER_ID_KEY]));

    document.getElementById("myIdInput").value = MY_ID;
    document.getElementById("receiverIdInput").value = RECEIVER_ID;
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
