@page
@model RegisterModel

@ViewData["Success"]

<form method="post">
    <div class="container">
        <div class="row p-1">
            <div class="col-1">Email</div>
            <div class="col-5"><input type="email" asp-for="@Model.Email" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Username</div>
            <div class="col-5"><input type="text" asp-for="@Model.Username" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Password</div>
            <div class="col-5"><input type="password" asp-for="@Model.Password" /></div>
        </div>

        <div class="row p-1">
            <div class="col-6">
                <input type="submit" id="registerButton" value="Register" />
            </div>
        </div>
    </div>
</form>